<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>494386656822-jrlliobusdkto006v4pvj6gstrql2ajp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.494386656822-jrlliobusdkto006v4pvj6gstrql2ajp</string>
	<key>API_KEY</key>
	<string>AIzaSyC_oKUQQ2MsWl5SKXyAGqEqQ_Jw7Fcqwxk</string>
	<key>GCM_SENDER_ID</key>
	<string>494386656822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shanidzeann.FoodApp</string>
	<key>PROJECT_ID</key>
	<string>foodapp-c2630</string>
	<key>STORAGE_BUCKET</key>
	<string>foodapp-c2630.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:494386656822:ios:1d161e4fdaa4db256aca97</string>
</dict>
</plist>